<nz-calendar
  [nzDateFullCell]="dateCellTpl"
  [(ngModel)]="selectedDate"
  (nzSelectChange)="onSelectChange()">
</nz-calendar>
<ng-template #dateCellTpl let-date class="events">
  <div (click)="modSchedule(date)" [ngClass]="getCellClass(date)">
    <div class="cell-title">{{date.getDate()}}</div>
    <div class="cell-content">{{getScheduleContent(date)}}</div>
  </div>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisible"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzTitle]="title"
>
  <ng-container *nzModalContent>
    <textarea nz-input placeholder="请输入日程内容" [(ngModel)]="this.curSchedule.content" class="cell-edit"></textarea>
  </ng-container>
</nz-modal>
