.cell{
  display: flex;
  flex-direction: column;
  justify-content: left;
  min-height:  100px;
}

.cell-selected{
  color: black;
}

.cell-title{
  display: flex;
}
.cell-content{
  display: flex;
}
.cell-edit{
  height: 200px;
}



